html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alternate-feature {
    & .featured-content {
      position: inherit;
    }
    & .featured-content {
      grid-column: 7 / -1;
      text-align: right;
    }
    & .featured-image {
      grid-column: 1 / 8;
    }
    & .decorated-link {
      align-self: flex-end;
    }
  }
}